language: python
python:
  - 2.7
  - 3.4
  - 3.5
  - 3.6
addons:
  apt:
    packages:
      - kyototycoon
      - libkyototycoon-dev
install:
  - pip install cython requests
  - python setup.py build_ext -i
script:
  - python tests.py
